main.regle
{
	background-color: @color-purple-dark;

	.text
	{
		text-align: justify;
		width: 75vw;

		h1
		{
			color: @color-title;

			font-family: @font-title;
			text-transform: uppercase;
			text-align: center;

			font-size: @font-size-title-large;

			span
			{
				border-bottom: 5px solid @color-title;
			}
		}

		h2
		{
			color: @color-title;

			font-family: @font-title;
			font-size: @font-size-title-small;

			text-transform: uppercase;
		}

		p
		{
			color: @color-text;
			font-family: @font-text;

			margin-left: 5em;
		}

		.retour
		{
			display: flex;

			background-color: @color-purple-very-dark;

			justify-content: center;

			margin: 0 auto;
			width: max-content;

			border-radius: 50px;

			a
			{
				display: block;

				background-color: transparent;
				color: @color-button;

				font-family: @font-button;
				text-transform: uppercase;
				text-decoration: none;
				text-align :center;
				
				font-size: @font-size-button;

				border: 0px solid transparent;
				
				width: 100%;
				padding: 0.3em 1.5em;
			}
		}
	}
}